@font-face {
  font-family: 'telegraf';
  src: url(./assets/PPTelegraf-Ultralight.woff) format('woff2');
}
@font-face {
  font-family: 'haffer';
  src: url(./assets/HafferXH-TRIAL-Regular.woff) format('woff2');
}

:root {
  --main-bg-color: #222222;
  --main-div-color: #131313;
  --width: 95vw;
  --max-width: 1600px;
  --border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'telegraf', sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  list-style: none;
  line-height: 110%;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

h1 {
  font-size: clamp(2rem, 7vw, 6rem);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.container {
  position: relative;
  width: var(--width);
  max-width: var(--max-width);
  background-color: var(--main-div-color);
  padding: 2rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

nav {
  width: 450px;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  opacity: 0.8;
}

.hero__text {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 2rem;
}

.sub__header {
  grid-column: span 12;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #d6a3e4;
  margin-right: 0.5rem;
  border-radius: 50%;
  margin-bottom: 0.125rem;
}

.sub__header h4 {
  font-weight: bold;
}

.hero__header {
  grid-column: span 12;
  margin-bottom: 1rem;
}

.hero__intro {
  grid-column: span 5;
  margin-bottom: 1rem;
}
